[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
invoke = "*"
pre-commit = "*"
tox = "*"
pytest = "*"
flake8 = "*"
twine = "*"
build = "*"
sphinx = "*"
pybacked = {editable = true, path = "."}
sphinx-rtd-theme = "*"
atomicwrites = "*"

[requires]
python_version = "3"
